.container {
  display: flex;
  align-items: center;
  min-height: 80vh;
  justify-content: center;

  .from-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid $border-color;
    padding: $container-padding-y $container-padding-x;
    border-radius: $border-radius-base;
    min-height: 50vh;

    .from-title {
      @include heading(30px);
      color: $white;
      margin-bottom: 40px;
    }

    .text-placeholder {
      margin-bottom: 10px;
    }

    .from-text {
      height: 20%;
      width: 100%;
      border: none;
      @include underline();
      background-color: transparent;
      margin-bottom: 30px;
    }

    .forget-password-link {
      margin-bottom: 30px;
      color: $primary-color;
      width: 25%;
      text-decoration: none;

      &:hover {
        color: $white;
      }
    }

    .from-or {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
