.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $container-padding-y $container-padding-x;
  @include underline();

  nav {
    @extend .menu;

    li {
      &:first-child {
        @include btn-varint($primary-color, $body-bg);
      }
      &:last-child {
        @include btn-varint($white, $primary-color);
      }
    }
  }
}
